/* * {
    outline: 1px solid red;
} */

body, button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    box-sizing: border-box;
    padding: 1px;
    margin: 4px;
    aspect-ratio: 1/1;
    background-color: rgb(255, 194, 133);
}

.calculator-container {
    background-color: rgb(255, 194, 133);
    display: flex;
    flex-direction: column;
    border: 16px solid rgb(255, 194, 133);
    border-radius: 8px;
}

.display {
    text-align: right;
    background-color: black;
    color: aqua;
    padding: 8px;
    margin: 8px;
    border-radius: 4px;
}

.display-container .logo {
    padding: 8px;
}

.row-bottom button {
    aspect-ratio: auto;
}



.display-container {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 55, 55);
    border-radius: 4px;
}

.input-container button {
    flex: 0 1 calc(33% - 8px);
}

.row-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.row-top .empty {
    background-color: rgb(55, 55, 55);
    border: none;
}

/* .row-top button {
    flex: 0 1 25%;
} */

.rows-middle {
    display: flex;
    flex-direction: row;
}

.rows-middle .nine-key {
    flex: 0 1 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

/* .nine-key .number {
    flex: 0 1 calc(33% - 8px);
} */

.rows-middle .column-right {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;

}

/* .rows-middle .column-right button {

} */

.row-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-bottom .wide {
    flex: 1.5;
}