* {
    outline: 1px solid red;
}

body, button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    box-sizing: border-box;
    padding: 8px;
    flex: 1;
}

.calculator-container {
    display: flex;
    flex-direction: column;
}

.display-container {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.row-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.row-top button {
    flex: 0 1 25%;
}

.rows-middle {
    display: flex;
    flex-direction: row;
}

.rows-middle .nine-key {
    flex: 1 1 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.nine-key .number {
    flex: 1 1 33%;
}

.rows-middle .column-right {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;

}

.row-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-bottom .wide {
    flex: 1.5;
}